
<div class="container">

  <section class="container">
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner text-center">
          <%= image_tag("aboutus.gif", :alt => "about us banner") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner">
          <%= image_tag("hidden_tower.gif", :alt => "fyora in her tower", :class => "rounded") %>
        </div>
      </div>
    </div>
<!--    <div class="row">-->
<!--      <div class="col-sm text-center">-->
<!--        <div class="col-sm text-center">-->
<!--          <div class="text-center">-->
            <%#= image_tag("our_mission.png", :alt => "reads our mission", :class => "w-50") %>
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
</div>
</section>

<br><br>

<!--<br>-->
<!--<h4 class="text-center">Under construction!</h4>-->
<!--</div>-->

<!--<div class="text-center">-->
<!--  <br>-->
  <%#= image_tag("construction.png", :alt => "an eryie in a construction outfit") %>
<!--</div>-->

<div class="container text-center">
  <h5>
    Here at Neopetsy, we believe that all Neopets deserve access to safer neohousing, food and self care resources. The Neopets community
    has faced much uncertainty this year due to the retiring of its intrinsic component Adobe Flash, not to mention the global pandemic!
    The very future of Neopia hangs in the balance. We founded this organization to link together mutual aid networks across Neopia.
    We strive to support all underserved Neopians & their pets, as well as the rising number of abandoned neopets in Dr. Death's neopound.
  </h5>
  <br><br>

  <div class="text-center">
    <%= image_tag("founders.png", :alt => "reads our founders", :class => "w-25") %>
  </div>

  <br>

  <section class="container">
    <div class="row d-flex align-items-center">
      <div class="col-sm">
          <%= image_tag("soup_faerie.gif", :alt => "the soup faerie") %>
      </div>
      <div class="col-sm">
        <h6>The Soup Faerie - This faerie sees all and calls out class injustice by providing free soup to financially excluded Neopians.</h6>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-sm">
        <%= image_tag("defenders.png", :alt => "defenders of neopia logo") %>
      </div>
      <div class="col-sm">
        <h6>Defenders of Neopia - Suddenly out of a job with Neopians retreating to their neohomes, this justice league joined on to help
          distribute mutual aid resources quickly and safely.</h6>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-sm">
        <%= image_tag("lost_desert.gif", :alt => "coltzan of the lost desert") %>
      </div>
      <div class="col-sm">
        <h6>Coltzan - Like an oasis in the desert during this crisis, Coltzan has been graciously providing a wealth of free food and first aid supplies.</h6>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="col-sm">
        <%= image_tag("snowager.gif", :alt => "the ice dragon") %>
      </div>
      <div class="col-sm">
        <h6>Quarantining deep within the treacherous icy caves of Terror Mountain, this dragon has nevertheless send out a myriade
          of fanciful goodies our way... though on his rougher isolated days, also occasionally greats our distribution teams with icy blasts of fury.
        </h6>
      </div>
    </div>

    <br>

    <div class="text-center">
      <%= image_tag("team.png", :alt => "reads our team", :class => "w-25") %>
    </div>

    <br>

    <section class="container">
      <div class="row d-flex align-items-center">
        <div class="col-sm">
          <h6>Kayla is a blumaroo, and shopping cart wizard extraordinaire who coordinates the agile flow of our online sales platform.</h6>
        </div>
        <div class="col-sm">
          <%= image_tag("blumaroo_faerie_baby.gif", :alt => "kayla") %>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-sm">
          <h6>Kim is a wocky with a keen eye for problem solving and unthinkably fast debugging, who runs our TDD team.</h6>
        </div>
        <div class="col-sm">
          <%= image_tag("wocky_yellow_baby.gif", :alt => "kim") %>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-sm">
          <h6>Madeline is a kougra, who single-handedly heads our reviews department & customer service team.</h6>
        </div>
        <div class="col-sm">
          <%= image_tag("kougra_baby_baby.gif", :alt => "madeline") %>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-sm">
          <h6>Ren is an elusive kacheek who maintains our order management & fulfillment department.</h6>
        </div>
        <div class="col-sm">
          <%= image_tag("kacheek_purple_baby.gif", :alt => "ren") %>
        </div>
      </div>

  </section>

</div>