<div class="homepage-banner">
  <%= image_tag("splash.jpg", :alt => "mystical faerieland") %>
</div>

<div class="text-center">
  <%= image_tag("welcome.png", :alt => "reads welcome", :class => "w-25") %>
</div>
<br>

<div class="container">
  <h4 class="text-center">
    <i>
      Proceeds from every order on Neopetsy go back directly into the community, fueling the free resources
      organizations across Neopia, including the Soup Kitchen, Money Tree, and the Healing Springs!
    </i>
  </h4>
  <br>

<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <div class="caption-img-container">
        <%= image_tag("market_fresh.gif", :alt => "fresh marketplace", :class => "rounded w-75") %>
        <div class="over-img-text"><h5>Market Fresh Goodies!</h5></div>
      </div>
    </div>
    <div class="col-sm text-center">
      <div class="caption-img-container">
        <%= image_tag("usuki_shopping.jpg", :alt => "usuki and mynci shopping", :class => "rounded w-100") %>
      <div class="over-img-text"><h3>Usuki Fashion!</h3></div>
      </div>
    </div>
    <div class="col-sm text-center">
      <div class="caption-img-container">
        <%= image_tag("hot_lit.gif", :alt => "neopet bookclub", :class => "rounded w-75") %>
        <div class="over-img-text"><h5>Trending Lit!</h5></div>
      </div>
    </div>
  </div>
</div>

  <br>

  <div class="text-center">
    <%= image_tag("wanna_join.png", :alt => "reads wanna join", :class => "w-25") %>
  </div>

  <br><br>
  <h5 class="text-center">
      Take advantage of the fun & fresh products Neopetsy has to offer and rest easy knowing your neopoints aren't just funneling back into
      the National Neopian Bank.
  </h5 class="text-center">
  <br>
  <h5 class="text-center">
      Join our amazing merchant team to invest your profits into community care! Sign into your Github account to join the fun!
  </h5>
</div>
