<section class="wrapper container">

  <section class="header-images container">
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner">
          <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="top-banner">
          <%= image_tag("uni_clothing_shop.gif", :alt => "a uni clothes merchant", :class => "rounded") %>
        </div>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-center">
        <div class="text-center">
          <%= image_tag("new_category.png", :alt => "reads new category", :class => "w-50") %>
        </div>
      </div>
    </div>
  </section>

  <%= form_with model: @categorization do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
    <%= f.submit action_name, :class => "btn btn-primary"%>
  <% end %>
</section>