<section class="wrapper container">

  <section class="header-images container">
    <div class="top-banner">
      <%= image_tag("market_bazaar.gif", :alt => "marketplace banner") %>
    </div>
  </section>

  <section class="categories-list container">
    <div class="row">
      <% Categorization.print_categories.each do |category| %>
        <div class="col-sm text-center">
          <h3><%= link_to category.name, categorization_path(category.id), :class => "badge badge-secondary badge-pill"%></h3>
        </div>
      <% end %>
    </div>
  </section>

  <section class="category container text-center">
    <div class="row align-items-center justify-content-center">
      <%= image_tag("star.gif", :alt => "a star") %>
      <h2 class="text-center">All <%= @categorization.name %></h2>
      <%= image_tag("star.gif", :alt => "a star") %>
    </div>
  </section>

  <section class="display-products-container">
    <%= render partial: 'products/product-grid', locals: { products: @categorization.products.where(active: true) } %>
  </section>
</section>