<section class="container">
  <%= form_with model: @order, class: 'update-order' do |f| %>
    <div class="form-group">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, :class => "form-control", :placeholder => "Ada A. Lovelace" %>
    </div>
    <div class="form-group">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
      </svg>
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, :class => "form-control", :placeholder => "ada@adadev.com" %>
    </div>
    <div class="form-group">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
      <%= f.label :address %>
      <br>
      <%= f.text_field :address, :class => "form-control", :placeholder => "ada@adadev.com" %>
    </div>
    <div class="form-group">
      <%= f.label :zip_code %>
      <br>
      <%= f.text_field :zip_code, :class => "form-control", :placeholder => "99547" %>
    </div>
    <div class="form-group">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2z"/>
        <path d="M0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
      </svg>
      <%= f.label :credit_card %>
      <br>
      <%= f.text_field :credit_card, :class => "form-control", :placeholder => "1234 5678 9101 1213" %>
    </div>
    <div class="form-group">
      <%= f.label :exp_date %>
      <br>
      <%= f.text_field :exp_date, :class => "form-control", :placeholder => "01/20/2021" %>
    </div>
    <%= f.submit action_name, class: "btn btn-primary" %>
  <% end %>
</section>