<section class="container text-center">

  <% if @login_user && @order.order_items.any? { |order_item| order_item.product.merchant_id == @login_user.id } %>
    <div class="top-banner">
      <%= image_tag("userlookup.gif", :alt => "user banner") %>
    </div>
  <% else %>
    <div class="top-banner">
      <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
    </div>
  <% end %>

  <br><br>

  <div class="top-banner">
    <%= image_tag("inventory_warehouse.png", :alt => "grundo with clipboard in a warehouse") %>
  </div>

  <br><br>

  <h4 class="text-center">Order Summary</h4>
  <table class="table table-hover">
    <thead>
    <tr class="table-active">
      <th scope="col">Order Total</th>
      <th scope="col">Purchase Date</th>
      <th scope="col">Current Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% if @login_user && @order.order_items.any? { |order_item| order_item.product.merchant_id == @login_user.id } %>
        <td>$<%= @order.order_total(@login_user.id) %></td>
      <% else %>
        <td>$<%= @order.order_total %></td>
      <% end %>
      <td><%= readable_date(@order.created_at) %></td>
      <td><%= @order.status.capitalize %></td>
    </tr>
    </tbody>
  </table>

  <br><br>

  <h4 class="text-center">Billing Information</h4>
  <table class="table table-hover">
    <thead>
    <tr class="table-active">
      <th scope="col">Customer Name</th>
      <th scope="col">Address</th>
      <th scope="col">Zip</th>
      <th scope="col">Credit Card</th>
      <th scope="col">Expiration</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @order.name %></td>
      <td><%= @order.address %></td>
      <td><%= @order.zip_code %></td>
      <td><%= @order.credit_card_end(@order.credit_card) %></td>
      <td><%= @order.exp_date %></td>
    </tr>
    </tbody>
  </table>

  <br><br>

  <h4 class="text-center">Products Purchased</h4>
  <table class="table table-hover">
    <thead>
    <tr class="table-active">
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Item Total</th>
    </tr>
    </thead>
    <tbody>

    <% if @login_user && @order.order_items.any? { |order_item| order_item.product.merchant_id == @login_user.id } %>
      <% @order.extract_merchant_order_items(@login_user.id).each do |order_item| %>
        <tr>
          <td><%= link_to "#{order_item.product.name}", product_path(order_item.product.id) %></td>
          <td>$<%= order_item.product.price %></td>
          <td><%= order_item.quantity %></td>
          <td>$<%= @order.order_item_total_cost(order_item) %></td>
        </tr>
      <% end %>
    <% else %>
      <% @order.order_items.each do |order_item| %>
        <tr>
          <td><%= link_to "#{order_item.product.name}", product_path(order_item.product.id) %></td>
          <td>$<%= order_item.product.price %></td>
          <td><%= order_item.quantity %></td>
          <td>$<%= @order.order_item_total_cost(order_item) %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <% if @login_user && @order.order_items.any? { |order_item| order_item.product.merchant_id == @login_user.id } %>
    <div class="container">
        <div class="row">
          <div class="col-sm text-center">
            <%= button_to "Mark Paid", order_path(@order.id), params: {:order => { :id => @order.id, :status => "paid" }}, method: :put,  :class => 'btn btn-primary', data: { confirm: "Mark Paid? This will register the order as paid." } %>
          </div>
          <div class="col-sm text-center">
            <%= button_to "Mark Complete", order_path(@order.id), params: {:order => { :id => @order.id, :status => "complete" }}, method: :put,  :class => 'btn btn-primary', data: { confirm: "Mark Complete? This will register the order as complete." } %>
          </div>
          <div class="col-sm text-center">
            <%= button_to "Mark Cancelled", order_path(@order.id), params: {:order => { :id => @order.id, :status => "cancelled" }}, method: :put,  :class => 'btn btn-primary', data: { confirm: "Mark Cancelled? This will return the order inventory." } %>
          </div>
          <div class="col-sm text-center">
            <%= button_to 'Back To Dashboard', dashboard_path, method: :get, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
  <% end %>

  <br>

</section>