<section class="container text-center">

  <div class="top-banner">
    <%= image_tag("userlookup.gif", :alt => "user banner") %>
  </div>

  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div>
        <%= image_tag("shield.gif", :alt => "user shield") %>
      </div>
      <div>
        <%= image_tag "shopkeeper_#{rand(1..8)}.gif" %>
      </div>
      <div>
        <%= image_tag("clipboard.gif", :alt => "clipboard") %>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <h2><%= @login_user.username %></h2>
    <h4>Total Revenue: <%= number_to_currency(@login_user.total_revenue) %></h4>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-sm text-center">
    <%= button_to 'Add Product', new_product_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div class="col-sm text-center">
    <%= button_to 'Add Category', new_categorization_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div class="col-sm text-center">
    <%= button_to 'Manage Products', dashboard_products_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div class="col-sm text-center">
    <%= button_to 'My Merchant Page', merchant_path(@login_user), method: :get, class: "btn btn-primary" %>
        </div>
      </div>
  </div>

  <br>

  <%#= render partial: 'products/product-grid', locals: { products: @login_user.products } %>

  <br><br>

 <div class="container">
    <h4>Pending Orders: <%= @login_user.total_num_orders_by_status("pending") %></h4>
    <h6>Revenue: <%= number_to_currency(@login_user.total_revenue_by_status("pending")) %></h6>
    <%= render partial: 'table', locals: { :orders => @login_user.filter_orders("pending") } %>

    <br><br>

    <h4>Paid Orders: <%= @login_user.total_num_orders_by_status("paid") %></h4>
    <h6>Revenue: <%= number_to_currency(@login_user.total_revenue_by_status("paid")) %></h6>
    <%= render partial: 'table', locals: { :orders => @login_user.filter_orders("paid") } %>

    <br><br>

    <h4>Complete Orders: <%= @login_user.total_num_orders_by_status("complete") %></h4>
    <h6>Revenue: <%= number_to_currency(@login_user.total_revenue_by_status("complete")) %></h6>
    <%= render partial: 'table', locals: { :orders => @login_user.filter_orders("complete") } %>

    <br><br>

    <h4>Cancelled Orders: <%= @login_user.total_num_orders_by_status("cancelled") %></h4>
    <h6>Revenue: <%= number_to_currency(@login_user.total_revenue_by_status("cancelled")) %></h6>
    <%= render partial: 'table', locals: { :orders => @login_user.filter_orders("cancelled") } %>
 </div>

</section>