<section class="container text-center">

  <div class="top-banner">
    <%= image_tag("userlookup.gif", :alt => "user banner") %>
  </div>

  <%= image_tag "shopkeeper_#{rand(1..8)}.gif" %>
  <div class="mb-4">
    <p><%= @login_user.username %></p>
    <p><%= @login_user.email %></p>
    <u><b>Total Revenue:</u></b> $<%= @login_user.total_revenue %> |||
    <u><b>Pending Orders:</u></b> <%= @login_user.filter_orders("pending").count > 1 ? "0" : @login_user.filter_orders("pending").count %>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-sm text-center">
    <%= button_to 'Add Product', new_product_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div class="col-sm text-center">
    <%= button_to 'Add Category', new_categorization_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div class="col-sm text-center">
    <%= button_to 'Manage Orders', orders_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div class="col-sm text-center">
    <%= button_to 'My Merchant Page', merchant_path(@login_user), method: :get, class: "btn btn-primary" %>
        </div>
      </div>
  </div>

  <br>

  <%= render partial: 'products/product-grid', locals: { products: @login_user.products } %>

</section>