<div class="container">
  <div class="top-banner">
    <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
  </div>

  <div class="text-center top-banner">
    <%= image_tag("aisha_merchant.png", :alt => "marketplace vendor", :class => "w-25 rounded") %>
  </div>

  <div class="text-center">
    <%= image_tag("merchants_title.png", :alt => "reads all categories", :class => "w-50") %>
  </div>

  <br>
  <% if @login_user %>
    <%= render partial: 'merchant-grid', locals: { merchants: @merchants.where.not(id: @login_user.id) } %>
  <% else %>
    <%= render partial: 'merchant-grid', locals: { merchants: @merchants } %>
  <% end %>

</div>