<section class="wrapper container">
  <section class="header-images-container">
    <div class="top-banner">
      <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
    </div>

    <div class="text-center top-banner">
      <%= image_tag("pillsbury_chia.gif", :alt => "marketplace vendor", :class => "rounded") %>
    </div>

    <div class="text-center">
      <%= image_tag("merchants_title.png", :alt => "reads all categories", :class => "w-50") %>
    </div>
  </section>

  <br>

  <section class="display-products-container">
    <% if @login_user %>
      <%= render partial: 'merchant-grid', locals: { merchants: @merchants.where.not(id: @login_user.id) } %>
    <% elsif @merchants.nil? %>
      <br><br>
      <h4><i>Eep! No merchants have joined the team yet! Depressing.</i></h4>
    <% else %>
      <%= render partial: 'merchant-grid', locals: { merchants: @merchants } %>
    <% end %>
  </section>

</section>