<section class="container text-center">

  <div class="top-banner">
    <%= image_tag("market_bazaar.gif", :alt => "user banner") %>
  </div>

  <%= image_tag "shopkeeper_#{rand(1..8)}.gif" %>
  <div class="mb-4">
    <h2><< <%= @merchant.username %> >></h2>
    <p>Joined On: <%= readable_date(@merchant.created_at) %></p>
  </div>

  <% if @login_user && @merchant.id == @login_user.id %>
  <h5><i>This is what your merchant page looks like to viewers!</i></h5>
  <% end %>
  <br>

  <%= render partial: 'products/product-grid', locals: { products: @merchant.products } %>

</section>