
<h1>Your Shopping Cart:</h1>
<%    if @cart.empty?
        @cart = "Your cart is currently empty!" %>
        <%= @cart %>
<% else %>

  <% @cart.each do |item| %>

    <ul>
      <li>Product: <%= link_to item.product.name, products_path(item.product) %> </li>
      <li>Description: <%= item.product.description %></li>
      <li>Price: $<%= item.product.price %></li>
      <li>Selected Quantity: <%= item.quantity %></li>
      <%= link_to "add one", add_one_path(product: item.product), method: "post"%> |
      <%= link_to "less one", less_one_path(product: item.product), method: "post"%> |
      <%= link_to "remove item", remove_path(product: item.product), method: "post"%>
    </ul>
   <% end  %>
  <%#= @cart %>

  Cart Total: <%= number_to_currency(@cart_total) %>
  <%= link_to "Clear Cart", clear_cart_path %>
<% end %>
<%= link_to "Go Shopping", products_path %>
<%= link_to "Checkout", checkout_path %>



