
<h1>Your Shopping Cart:</h1>
  <% if @cart.empty? %>
         <%= @cart = "Your cart is currently empty!" %>
          <%= @cart %>
  <% else %>

  <% @cart.each do |item| %>
    <%= @cart %>
<!--    <ul>-->
<!--      <li>Product: <%#= link_to item.product.name, products_path(item.product) %> </li>-->
<!--      <li>Description: <%#= item.product.description %></li>-->
<!--      <li>Price: $<%#= item.product.price %></li>-->
<!--      <li>Selected Quantity: <%#= item.quantity %></li>-->
<!--      <li><%#= link_to "Add Item", add_quantity_path([:session_id]), method: :post %></li>-->
<!--      <li><%#= link_to "Reduce Item", reduce_quantity_path(@order_item), method: :post %></li>-->
<!--    </ul>-->
   <% end  %>
<% end  %>


  Cart Total: <%= number_to_currency(@cart_total) %>
  <%= link_to "Clear Cart", clear_cart_path %>
<%# end %>
<%= link_to "Go Shopping", products_path %>
<%= link_to "Checkout", checkout_path %>



