<div class="card border-secondary mb-3 d-flex h-100 product-card">

  <!-- /// IMAGE /// -->
  <section class="product-image container">
    <div
      alt="product image"
      class="card-img-top product-image-preview"
      style="background-image: url(<%= product.photo && product.photo != '' ? product.photo : 'https://i.imgur.com/voPUjQv.png' %>)"
    ></div>
  </section>

  <section class="card-body">
    <!-- /// NAME /// -->
    <h5 class="card-title text-center">
      <%= product.name.capitalize %>
    </h5>
    <!-- /// PRICE  /// -->
    <h5 class="card-text text-success text-center">
      <%= number_to_currency(product.price) %>
    </h5>

    <!-- /// REVIEWS /// -->
    <p class="card-text text-center">
    <% if product.reviews.any? %>
      <% product.average_rating.round.times do  %>
        <span class="card-text text-center text-secondary">★</span>
      <% end %>
      <% product.calculate_empty_stars.round.times do %>
        <span class="card-text text-center text-secondary">☆</span>
      <% end %>
    <% end %>
    </p>

    <!-- /// STOCK & DESCRIPTION /// -->
    <% if merchant_view %>
      <p class="text-center">In Stock: <%= product.quantity %></p>
    <% else %>
      <p class="card-text text-center">
        <%= product.description %>
      </p>
    <% end %>
  </section>

  <!-- /// MERCHANT-OWNER ONLY BUTTONS  /// -->
  <section class="buttons container">
    <div class="row text-center">
      <% if merchant_view %>
        <div class="col-sm">
          <%= button_to 'Edit Product', edit_product_path(product.id), method: :get, :class => 'btn btn-primary' %>
          <br>
        </div>
    </div>
    <div class="row text-center">
      <div class="col-sm">
        <% if product.active %>
          <%= button_to "Retire Product", retire_product_path(product.id), method: :put,
                        :class => 'btn btn-primary', data: { confirm: "Retire this item?  This will hide it from customers' view." } %>
        <br>
        <% else %>
          <%= button_to "Restore Product", restore_product_path(product.id), method: :put,
                        :class => 'btn btn-primary', data: { confirm: "Restore this item?  This will show it in customers' view." } %>
        <% end %>
        <br>
      </div>
      <!-- /// NON-MERCHANT-OWNER BUTTONS  /// -->
      <% else %>
      <div class="col-sm text-center">
        <%= button_to 'View Product', product_path(product.id), method: :get, :class => 'btn btn-primary' %>
        <br>
      </div>
      <% end %>
    </div>
  </section>

</div>
