<div class="card border-secondary mb-3 d-flex h-100 product-card">
  <div class="container">
    <div
      alt="product image"
      class="card-img-top product-image-preview"
      style="background-image: url(<%= product.photo && product.photo != '' ? product.photo : 'https://i.imgur.com/voPUjQv.png' %>)"
    ></div>
  </div>

  <div class="card-body">
    <h5 class="card-title text-center">
      <%= product.name.capitalize %>
    </h5>
<!--    <p class="card-text">-->
<!--      Category: <%#= product.categorizations[0] ? product.categorizations[0].name : '' %>-->
<!--    </p>-->
    <h5 class="card-text text-success text-center">
      <%= number_to_currency(product.price) %>
    </h5>
<!--    HIDE UNNECESSARY DESCRIPTION FROM @login_user DASH-->
    <% unless current_page?('/dashboard') || current_page?('/dashboard/products') %>
      <p class="card-text text-center">
        <%= product.description %>
      </p>
    <% end %>
  </div>

  <div class="container">
    <div class="row text-center">
<!--      IF VIEWING FROM PRODUCT MANAGE PAGE ON DASH-->
      <% if current_page?('/dashboard/products') %>
        <div class="col-sm">
          <%= button_to 'View Product', product_path(product.id), method: :get, :class => 'btn btn-primary' %>
          <br>
        </div>
        <div class="col-sm">
          <%= button_to 'Edit Product', edit_product_path(product.id), method: :get, :class => 'btn btn-primary' %>
          <br>
        </div>
    </div>
      <div class="row text-center">
        <div class="col-sm">
          <% if product.active %>
          <%= button_to "Retire Product", product_path(product.id),
                        params: {:product => { :id => product.id, :active => false }},
                        method: :put,  :class => 'btn btn-primary', data: { confirm: "Retire this item?  This will hide it from customers' view." } %>
          <br>
          <% else %>
            <%= button_to "Restore Product", product_path(product.id),
                          params: {:product => { :id => product.id, :active => true }},
                          method: :put,  :class => 'btn btn-primary', data: { confirm: "Restore this item?  This make it visible to customers." } %>
            <br>
          <% end %>
        </div>
<!--        OTHERWISE, DISPLAY VIEW BUTTON-->
      <% else %>
        <div class="col-sm text-center">
          <%= button_to 'View Product', product_path(product.id), method: :get, :class => 'btn btn-primary' %>
          <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
