<div class="card d-flex h-100 product-card">
  <div
    alt="product image"
    class="card-img-top product-image-preview"
    style="background-image: url(<%= product.photo || 'https://via.placeholder.com/320x240' %>)"
  ></div>
  <div class="card-body">
    <h5 class="card-title">
      <%= product.name.capitalize %>
    </h5>
<!--    <p class="card-text">-->
<!--      Category: <%#= product.categorizations[0] ? product.categorizations[0].name : '' %>-->
<!--    </p>-->
    <h5 class="card-text text-success">
      <%= number_to_currency(product.price) %>
    </h5>
    <p class="card-text">
      <%= product.description %>
    </p>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <%= button_to 'View Product', product_path(product.id), method: :get, :class => 'btn btn-primary' %>
        <br>
      </div>
      <div class="col-sm">
        <% if @login_user %>
          <% if product.merchant_id == @login_user.id %>
            <!--        MAKE THIS A METHOD LATER -->
            <%= button_to "Retire Product", product_path(product.id),
                          params: {:product => { :id => product.id, :active => false }},
                          method: :put,  :class => 'btn btn-primary', data: { confirm: "Retire this item?  This will hide it from customers' view." } %>
          <% end %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
