<section class="container">
  <div class="row align-items-center">
    <%= image_tag("star.gif", :alt => "a star") %>
    <h2><%= @product.name %></h2>
    <%= image_tag("star.gif", :alt => "a star") %>
  </div>

  <%= image_tag @product.photo && @product.photo != '' ? @product.photo : 'https://i.imgur.com/voPUjQv.png', :alt => "#{@product.name} image", :class => "product-photo w-25" %>
  <div class="product-merch">Sold by: <%=  @product.merchant.username %></div>
  <div class="product-quantity">In Stock: <%= @product.quantity %></div>
  <br>
  <div class="product-desc">
    <h5 class="card-text text-success">
      <%= number_to_currency(@product.price) %>
    </h5>
    <br>
    <h5 class="product-desc">
      <i><%= @product.description %></i>
    </h5>
  </div>
  <!--    <div class="product-desc"><p>Price: $<%#=  @product.categorizations_products %> </p></div>-->
  <hr>
  <%= form_with model: @order_items, url: add_to_cart_path(@product), method: :post do |f| %>
    <div class="form-group">
      <%= f.select(:selected_quantity, (1..@product.quantity), {}, { :class => 'form-control' }) %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <br>
      <%= f.submit "Add to cart", class:"btn btn-primary" %>
    </div>
  <%end%>
  <%#= link_to "Back To Products", products_path, class:"btn btn-primary" %>
  <%= link_to '<< Back', :back, class:"btn btn-primary" %>
  <br><br>
</section>








