<!--<section class="container">-->
<div class="form-group">

<!--<span class="star-rating star-5">-->

  <%= form_with model: @review do |f| %>
      <%= f.label :rating %>
    <br>
      <%= radio_button_tag(:rating, 5) %>
      <%= label_tag(:rating, "test") %>

     <%= radio_button_tag(:rating, 4) %>
      <%= label_tag(:rating, "test") %>

      <%= radio_button_tag(:rating, 3) %>
      <%= label_tag(:rating, "test") %>

      <%= radio_button_tag(:rating, 2) %>
      <%= label_tag(:rating, "test") %>

      <%= radio_button_tag(:rating, 1) %>
      <%= label_tag(:rating, "test") %>
<!--      </span>-->
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description, :class => "form-control" %>
    </div>

<!--</section>-->

      <%= f.submit "Create Review", class: "" %>
<% end %>