<%= form_with model: [@product, @review] do |f| %>
  <div class="form-group">
    <%= f.label :rating %>
    <br>
    <span class="star-rating star-5">
      <%= f.radio_button(:rating, 1) %><i></i>
      <%= f.radio_button(:rating, 2) %><i></i>
      <%= f.radio_button(:rating, 3) %><i></i>
      <%= f.radio_button(:rating, 4) %><i></i>
      <%= f.radio_button(:rating, 5) %><i></i>
      </span>
  </div>

  <%= hidden_field(:product_id, :value => @product.id) %>

  <div class="form-group">
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <%= f.submit "Create Review", class: "" %>
<% end %>