<section class="container">
  <div class="row">
    <div class="col-sm text-center">
      <div class="top-banner">
        <%= image_tag("market_banner.gif", :alt => "marketplace banner") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <div class="top-banner">
        <%= image_tag("chocolate_chai.gif", :alt => "a neopian chocolate shop", :class => "rounded") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <div class="text-center">
        <%= image_tag("new_review.png", :alt => "reads new review", :class => "w-50") %>
      </div>
    </div>
  </div>

  <%= form_with model: [@product, @review] do |f| %>
    <div class="form-group">
      <%= f.label :rating %>
      <br>
      <span class="star-rating star-5">
        <%= f.radio_button(:rating, 1) %><i></i>
        <%= f.radio_button(:rating, 2) %><i></i>
        <%= f.radio_button(:rating, 3) %><i></i>
        <%= f.radio_button(:rating, 4) %><i></i>
        <%= f.radio_button(:rating, 5) %><i></i>
        </span>
    </div>

    <%= hidden_field(:product_id, :value => @product ? @product.id : nil) %>

    <div class="form-group">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description, :class => "form-control" %>
    </div>
    <%= f.submit "Create Review", class: "btn btn-secondary" %>
  <% end %>
</section>
